<h1>New contact</h1>

<% if @contact.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @contact.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<form action="/contacts" method="post">
  <label for="contact_name">Name</label>
  <input id="contact_name" name="name" type="text" value="<%= @contact.name %>">
  <label for="contact_sex">Sex</label>
  <input id="contact_sex" name="sex" type="text" value="<%= @contact.sex %>">
  <label for="contact_height">Height</label>
  <input id="contact_height" name="height" type="text" value="<%= @contact.height %>">
  <button>Create Contact</button>
</form>
